h1 {
  font-size: 66px;
  text-align: center;
}
h2 {
  font-size: 40px;
  text-align: center;
}
h4 {
  text-align: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 40px;
  color: black;
}
.navigation {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}
.li_navigation {
  margin-left: 25px;
  padding-right: 8px;
  padding-left: 8px;
  border: 1px rgb(221, 221, 221) solid;
  border-radius: 15%;
  background-color: rgb(227, 227, 227);
}
.foto_name {
  display: flex;
  justify-content: center;
}
.img_div {
  display: flex;
  align-items: center;
  max-width: 200px;
}
.img_div img {
  border-radius: 50%;
  max-width: 200px;
}
.name {
  max-width: 400px;
}
.name p {
  text-align: center;
}
.main {
  align-items: center;
  max-width: 700px;
  max-height: 900px;
}
.history {
  display: flex;
  justify-content: center;
}
.history p {
  text-align: center;
  display: block;
  max-width: 800px;
}
.ul_skills {
  display: flex;
  justify-content: space-evenly;
}

.ul_skills li p {
  text-align: center;
}
.contacts li {
  display: flex;
  justify-content: center;
}
